*.*~
*.pyc
*/*.pyc
*/*/*.pyc
.idea
.idea/*

datadump.json
newrelic.FreeItLessons.ini

*/*.*~
*/*/*.~
*/*/*/*.~

.idea
.idea/*

datadump.json
newrelic.FreeItLessons.ini

#Byte-compiled/optimized/DLLfiles
__pycache__/
*.py[cod]
*$py.class

#Cextensions
*.so

#Distribution/packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

#PyInstaller
#Usuallythesefilesarewrittenbyapythonscriptfromatemplate
#beforePyInstallerbuildstheexe,soastoinjectdate/otherinfosintoit.
*.manifest
*.spec

#Installerlogs
pip-log.txt
pip-delete-this-directory.txt

#Unittest/coveragereports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

#Translations
*.mo
*.pot

#Djangostuff:
*.log
local_settings.py

#Flaskstuff:
instance/
.webassets-cache

#Scrapystuff:
.scrapy

#Sphinxdocumentation
docs/_build/

#PyBuilder
target/

#IPythonNotebook
.ipynb_checkpoints

#pyenv
.python-version

#celerybeatschedulefile
celerybeat-schedule

#dotenv
.env

#virtualenv
venv/
ENV/

#Spyderprojectsettings
.spyderproject

#Ropeprojectsettings
.ropeproject

bin
materials
cherrypy/
include/
lib64
man/
pip-selfcheck.json
pyvenv.cfg
share/
twisted/

.vagrant
static/*
static/*/*
static/*/*/*
db.PROD.sqlite3
db.sqlite3.last

