#Django>=1.9,<1.10
#django-debug-toolbar>=1.4
#django-enumfield
#django-admin-sortable2>=0.6.10
#django-bootstrap3==7.1.0
#django-lineage==0.2.0
#newrelic==2.*

alabaster==0.7.7
amqp==2.1.4
aniso8601==1.2.0
anyconfig==0.4.0
appdirs==1.4.0
argh==0.26.1
arrow==0.4.4
astroid==1.4.3
attrs==15.2.0
Babel==2.3.4
backports-abc==0.4
backports.shutil-get-terminal-size==1.0.0
beautifulsoup4==4.5.3
behave==1.2.5
billiard==3.5.0.2
bitbucket-cli==0.5.1
blessings==1.6
blinker==1.4
boto==2.43.0
boto3==1.4.0
botocore==1.4.56
bottle==0.12.9
bpython==0.12
bs4==0.0.1
bunch==1.0.1
cachetools==1.1.6
celery==4.0.2
Cerberus==0.8.1
cffi==1.9.1
chardet==2.3.0
checkbox-ng==0.3
checkbox-support==0.2
CherryPy==8.1.0
click==6.3
clom==0.8.0a1
cmsplugin-filer==1.1.3
codegen==1.0
colorama==0.3.6
colorex==2.0
colour-runner==0.0.4
configobj==5.0.6
configparser2==4.0.0
coverage==4.0.3
coveralls==0.4.2
cryptography==1.7.2
cssselect==0.9.1
cycler==0.10.0
ddt==1.1.1
decorator==4.0.9
dj-database-url==0.4.1
Django==1.8.17
django-admin-sortable2==0.6.10
django-appconf==1.0.2
django-attachments==1.0.1
django-bootstrap-form==3.2
django-bootstrap3==7.1.0
django-classy-tags==0.8.0
django-cms==3.4.1
django-dedal==1.0.2
django-enumfield==1.2.1
django-filer==1.2.5
django-formtools==1.0
django-lineage==0.2.0
django-modelcluster==2.0
django-mptt==0.8.6
django-pgcrypto==1.4.0
django-polymorphic==0.8.1
django-sekizai==0.10.0
Django-Select2==4.3.2
django-simple-menu==1.2.1
django-taggit==0.18.3
django-treebeard==4.1.0
djangocms-admin-style==1.2.6.2
djangocms-attributes-field==0.1.2
djangocms-column==1.7.0
djangocms-googlemap==1.0.1
djangocms-installer==0.9.3
djangocms-link==2.0.3
djangocms-snippet==1.9.2
djangocms-style==2.0.1
djangocms-text-ckeditor==3.3.1
djangocms-video==2.0.3
djangorestframework==3.5.3
docker-compose==1.5.2
docker-py==1.6.0
dockerpty==0.3.4
docopt==0.6.2
docutils==0.12
dodgy==0.1.9
dulwich==0.9.7
easy-thumbnails==2.3
ExifRead==2.1.2
Fabric==1.13.1
feedgenerator==1.9
feedparser==5.1.3
FeinCMS==1.13.1
flake8==2.3.0
Flask==0.10.1
Flask-Login==0.3.2
Flask-RESTful==0.3.5
fudge==1.1.0
funky==0.0.2
future==0.15.2
fuzzing==0.3.2
gitdb==0.6.4
GitPython==1.0.1
gittle==0.5.0
google==1.9.1
graphitesend==0.6.0
html5lib==0.9999999
httplib2==0.8
httpretty==0.8.10
idna==2.1
imagesize==0.7.1
ipdb==0.8
ipython==4.2.0
ipython-genutils==0.1.0
iso8601==0.1.11
itsdangerous==0.24
Jinja2==2.7.3
jira==1.0.7
jmespath==0.9.0
jsonschema==2.5.1
kazoo==2.2.1
kombu==4.0.2
lazy-object-proxy==1.2.1
line-profiler==1.0
listparser==0.18
Logbook==1.0.0
logilab-common==1.1.0
ludibrio==3.1.0
lxml==3.7.2
Mako==0.9.1
Markdown==2.6.7
MarkupSafe==0.23
mccabe==0.3.1
memory-profiler==0.41
mincemeat==0.1.4
mock==1.3.0
moto==0.4.18
MutPy==0.4.0
newrelic==2.62.0.47
nicelog==0.1.8
nltk==3.2
nose==1.3.7
nose-exclude==0.4.1
nose-parameterized==0.3.5
nose-progressive==1.5.1
numpy==1.11.0
oauthlib==1.1.2
paramiko==2.1.1
params==0.1.4
parse==1.6.6
parse-type==0.3.4
pathtools==0.1.2
pbr==1.8.1
pelican==3.6.3
pep257==0.7.0
pep8==1.6.2
pep8-naming==0.3.3
perfmetrics==2.0
pex==1.1.0
pexpect==4.1.0
pickleshare==0.7.2
piexif==1.0.3
Pillow==3.4.1
Pinging==0.1
piston-mini-client==0.7.5
plainbox==0.5.3
pluggy==0.3.1
plumbum==1.6.1.post0
prospector==0.11.5
protobuf==3.0.0b3
psutil==4.3.1
ptyprocess==0.5.1
py==1.4.31
pyaml==15.2.1
pyasn1==0.1.9
pyasn1-modules==0.0.8
pybitbucket==0.11.1
pycparser==2.17
pycrypto==2.6
pycurl==7.19.3
pyflakes==1.0.0
pylint==1.4.4
pylint-celery==0.3
pylint-common==0.2.2
pylint-django==0.7.1
pylint-flask==0.1
pylint-plugin-utils==0.2.3
pymutester==0.1.0
PyMySQL==0.7.2
pyOpenSSL==0.15.1
pyparsing==2.1.1
pyPdf==1.13
PyPDF2==1.25.1
pyquery==1.2.11
pyspider==0.3.6
pytest==2.7.2
pytest-cov==2.2.1
python-dateutil==2.5.2
python-magic==0.4.12
python-rest-client==0.3
python-termstyle==0.1.10
python-vagrant==0.5.14
pytools==2016.2.1
pytz==2016.3
pyxdg==0.25
PyYAML==3.11
queuelib==1.4.2
redis==2.10.5
rednose==0.4.1
request==0.0.2
requests==2.13.0
requests-aws==0.1.8
requests-aws4auth==0.9
requests-mock==1.1.0
requests-oauthlib==0.6.1
requests-toolbelt==0.6.2
requirements-detector==0.4.1
responses==0.3.0
rethinkdb==2.3.0.post6
retrying==1.3.3
ruamel.yaml==0.13.7
rudolf==0.3
s3transfer==0.1.4
scipy==0.17.0
Scrapy==1.0.5
service-identity==16.0.0
setoptconf==0.2.0
sh==1.11
simplegeneric==0.8.1
simplejson==3.9.0
six==1.10.0
smartypants==1.8.6
smmap==0.9.0
snowballstemmer==1.2.1
Sphinx==1.4.1
stashy==0.3
statsd==3.2.1
swampy==2.1.7
termcolor==1.1.0
terminaltables==3.0.0
texttable==0.8.4
tinys3==0.1.11
tlslite==0.4.9
tornado==4.3
tox==2.1.1
traitlets==4.2.1
Twisted==15.5.0
typing==3.5.3.0
typogrify==2.0.7
tzlocal==1.2.2
u-msgpack-python==2.1
Unidecode==0.4.20
unpushed==1.1.0
uritemplate==0.6
utils==0.9.0
vcversioner==2.14.0.0
vine==1.1.3
virtualenv==15.1.0
w3lib==1.17.0
websocket-client==0.40.0
Werkzeug==0.11.15
wrapt==1.9.0
xmltodict==0.10.2
zope.interface==4.3.3


