{% extends 'mainapp/base.html' %}

{% load bootstrap3 %}
{% load static %}

{% bootstrap_javascript jquery=0 %}

{% block title %}Kursy{% endblock %}


{% block bootstrap3_content %}

<style>
.list-group-item.active-done {
    z-index: 2;
    color: #fff;
    background-color: green;
    border-color: lightgreen;
}
/*
.bg-info {
    background-color: #eeeeee;
}
*/
.parallelogram {
    width: 150px;
    height: 15px;
    background: green;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
    transform: skew(30deg);
    margin: 0px;
}
.right {
    float: right;
    width: 50px;
    padding: 0px;
    margin-right: 20px;
}
.active2 {
    padding: 23px;
}

.bq111 {
	background: #363738 url({% static 'mainapp/img/new.png' %}) repeat top left;
	margin-top: 100px;
	padding-top: 100px;
	width: 400px;
	color: #fff;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.3);
	border-top: 10px solid #fff;
}

.bq1 {
  /*font: 14px/20px italic Times, serif;*/
  padding-left: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
/*  background-color: #dadada;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  margin: 5px;
*/
  background: #fafafa url({% static 'mainapp/img/new.png' %}) repeat left;
  background-size: 30px 30px;
  background-position: top 5px left 5px;
  background-repeat: no-repeat;
  text-indent: 10px;
  border-left: 1px dotted lightgreen;
}

.bq1:before {
    content: "[__]";
    font-size: 22px;
    position: absolute;
    top: 17x;
    left: 8px;
    color: #afafaf;
}
</style>

<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
 
<script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>

<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css" />

<script>
$.noConflict();
jQuery( document ).ready(function( $ ) {

  console.log( "ready!" );
/*
  // using jQuery
  function getCookie(name) {
      var cookieValue = null;
      if (document.cookie && document.cookie != '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }

  var csrftoken = getCookie('csrftoken');

  function csrfSafeMethod(method) {
      // these HTTP methods do not require CSRF protection
      return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
  }
  $.ajaxSetup({
      beforeSend: function(xhr, settings) {
          if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      }
  });
*/

  $( "#dialog-send-status" ).dialog({
    autoOpen: false,
    resizable: false,
    height: "auto",
    width:600,
    modal: true,
    buttons: {
      "Prześlij opinię": function() {
      	var selected_status = $("input[name='dialog-send-status-select']:checked").val();
        if(selected_status){
            var content_id = $("#dialog-send-status").attr("data-content-id");
            console.log("content_id: ", content_id);
            console.log("selected_status: ", selected_status);

            postDataIntoServiceEndpoint(content_id, selected_status);
            $( this ).dialog( "close" );
        } else {
          alert("Proszę wskazać jedną opcję !");
        }
      },
      Cancel: function() {
        $( this ).dialog( "close" );
      }
    }
  });

  function postDataIntoServiceEndpoint(content_id, status) {
    var logged_user_id = parseInt($("input[name='logged-user-id']").val());
    //var csrfmiddlewaretoken = $("input[name='csrfmiddlewaretoken']").val()
    //var myEvent = { status: status /*, csrfmiddlewaretoken: '{{ csrf_token }}' */ };
    var myEvent = { user_id: logged_user_id, content_id: content_id, status: status /*, csrfmiddlewaretoken: '{{ csrf_token }}' */ };
    console.log("myEvent:", myEvent)
/*
    jQuery.ajax({
        type: 'POST',
        url: '/content/' + logged_user_id + '/user/' + content_id + '/',
        beforeSend : function(jqXHR, settings) {
            jqXHR.setRequestHeader("x-csrftoken", csrfmiddlewaretoken);
        },
        data: myEvent,
        dataType: 'json',

    });

xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));


*/


    $.ajax({
        // url: '/content/' + content_id + '/user/' + logged_user_id + '/status/' + status + '/',
        url: '/content/user/status/',
        type: 'GET',
        data: myEvent,
        success: function(result) {
            console.log("postDataIntoServiceEndpoint: AJAX OK - result: ", result);
            updateContentIcon(content_id, status);
        },
        error: function(result) {
            console.log("postDataIntoServiceEndpoint: AJAX ERROR - result: ", result);
        }
    });
  }

  function showStatusDialog(content_id) {
    var logged_user_id = parseInt($("input[name='logged-user-id']").val());
    console.log("logged_user_id: ", logged_user_id)
    if (!isNaN(logged_user_id)) {
      var dialog_elem = $("#dialog-send-status");    
      dialog_elem.attr("data-content-id", content_id);
      dialog_elem.dialog('open');
    } else {
      alert("W celu wystawienia oceny kontekstu musisz być zalogowany !");
    }
  }

  function updateContentIcon(content_id, status) {
    var icon_status_url = $('#content_id__' + content_id).css('background-image');

    var regex = /(url\(["].*)\/(\w+)(.png["]\))/;

    console.log("icon_status_url:", icon_status_url)
    
    var matching = icon_status_url.match(regex);

    console.log("matching:", matching)
    
    if (matching) {
      var new_icon_status_url = icon_status_url.replace(regex, "$1/" + status + "$3");
      //new_icon_status_url = 'url("' + new_icon_status_url + '")';
      console.log("new_icon_status_url:", new_icon_status_url)
      $('#content_id__' + content_id).css('background-image', new_icon_status_url);
    }
  }

  function setupContentIcons() {
    var logged_user_id = parseInt($("input[name='logged-user-id']").val());
    console.log("logged_user_id: ", logged_user_id)
    if (isNaN(logged_user_id)) {
        return null;
    }

    $("blockquote[id^='content_id__']").each(function(){ 
      var content_id = $(this).attr("data-id");
      console.log("content_id:", content_id);

      var myEvent = { user_id: logged_user_id, content_id: content_id };
      console.log("myEvent:", myEvent);

      $.ajax({
          url: '/content/user/',
          type: 'GET',
          data: myEvent,
          success: function(status) {
              console.log("setupContentIcons: AJAX OK - status: ", status);
              updateContentIcon(content_id, status);
          },
          error: function(result) {
              console.log("setupContentIcons: AJAX ERROR - result: ", result);
          }
      });
    });
  }


  $("blockquote[id^='content_id__']").each(function(){ 
    var content_id = $(this).attr("data-id");
    console.log("content_id:", content_id);
    
    $(this).click(function(event){
      var target = $( event.target );
      if (!target.is("a") && !target.is("img")) {
        console.log($(this).attr("data-id"));
        $(this).attr("data-status-change", "1");
        showStatusDialog(content_id);
      }
    });
  });

  setupContentIcons();

    var path = location.pathname;
    $('ul.navbar a.nav[href$="' + path + '"]').addClass("active");
});
</script>

{% include "header.html" %}

<div class="container-fluid">

	<div class="row">
		<div class="col-md-8">
			<div class="page-header">
				<h1>
					Kursy programowania! <small>program mentorski</small>
				</h1>
			</div>

        {% if not chapter_id %}
			<h3>
				Jak to działa ?
			</h3>
			<p>
				Poniżej znajduje się lista scenariuszy zajęć. Wybierz aktywny scenariusz w celu rozpoczęcia nauki, praktyki lub utrwalenia materiału.
      <br />
      W tym kursie będziemy uczyć się pojęć z systemów operacyjnych, języków programowania i narzędzi ułatwiających wytwarzanie aplikacji.
      </p>
        <hr />
			<h3>
				Materiały do nauki
			</h3>
        {% endif %}

<!-- module_id: {{ module_id }} -->
<!-- chapter_id: {{ chapter_id }} -->
{% for module in modules %}
    <div class="list-group">
        <div class="parallelogram"><div class="parallelogram"></div></div>
        <a href="/kursy/{{ module.id }}.html" class="list-group-item active-done">
            <strong class="done">{{ module.title }}</strong>
            {% for icon_file_name in module.icons_list %}
              <img class="card-img-top right" src="{% static 'mainapp/img/' %}{{ icon_file_name }}" height="50px" alt="" />
            {% endfor %}
        </a>

        {% for chapter in module.chapters %}
            <div class="list-group-item">
                <h4 class="list-group-item-heading done">
                    <a href="/kursy/{{ module.id }}/rozdzial/{{ chapter.id }}.html">{{ chapter.name }}</a>
                </h4>

                <p class="list-group-item-text">
                    {{ chapter.note }}
                </p>
            </div>
        {% endfor %}
        {% if not chapter_id %}
            <a class="list-group-item active2">
                <i class="text-warning">Osiągnięcia:</i> <b class="text-warning">{{ module.achievements_desc }}</b>
            </a>
        {% else %}
            {% for content in contents_list %}
                <div class="list-group-item">
                    <p class="list-group-item-text">
                        <small style="color: #e6e6e6">
                        {{ content.additional_text }} - {{ content.status }} # {{ content.id }}
                        </small><br />
                        <br />
                        {% if content.status == 1 %}
                            <blockquote class="bq1" id="content_id__{{ content.id }}" data-id="{{ content.id }}">
                            {{ content.value |safe }}
                            </blockquote>
                        {% elif content.status == 3 %}
{% comment %}
<!--                            <iframe width="640" height="360" src="{{ content.value }}" frameborder="1" allowfullscreen></iframe> -->
{% endcomment %}
                            <a class="btn btn-default" href="{{ content.value }}" target="_blank">{{ content.additional_text }}</a>
                        {% elif content.status == 4 %}
                            <a class="btn btn-default" href="{{ content.value }}" target="_blank">{{ content.additional_text }}</a>
                        {% endif %}
                    </p>
                </div>
            {% endfor %}
        {% endif%}
        </div>
        <br />
        <br />

{% endfor %}
        </div>
		<div class="col-md-4">
			<div class="page-header">
				<h2 class="text-muted">
                Propozycje zajęć
				</h2>
			</div>

                <div class="col">
            <div>
                                <h3 class="text-default">
                                        Testowanie oprogramowania
                                </h3>
                <h5 class="text-muted">
                                        2017-02-21 09:00 - 10:50
                                </h5>

                                <p class="text-muted">
                                        Co powoduje uśmiech na naszej twarzy, kiedy gramy w ulubioną grę lub używamy naszej aplikacji ...<br />
					niewątpliwie to jest zadowolenie z wysokiej jakości używanego oprogramowania. Stablinego, szybkiego bez zawieszeń i bez błędów.<br />
					O tym jak tworzyć kod, moduły i systemy "bez błędów" opowiemy niebawem.
                                </p>
                                <p class="text-muted">
                                        <a class="btn btn-success" href="/kursy/5.html">Czytaj więcej</a>
                                </p>
                        </div>
                </div>


		<div class="col">
            <div>
				<h3 class="text-default">
					IDE - narzędzie programisty
				</h3>
                <h5 class="text-muted">
					2017-01-21 09:00 - 10:50
				</h5>

				<p class="text-muted">
					Przyzwyczajenia do stosowania "właściwych" narzędzi warto wyrabiać sobie od początku w branży IT.
                    <br />
                    Płynąc dalej nurtem poznanego narzędzia jakim był <a href="http://127.0.0.1:8000/zadanie,2,0,powitanie-i-wprowadzenie-do-srodowiska--vagrant.html">system operacyjny Linux oraz terminal tekstowy</a>
                    tym razem chcemy Wam zaprezentować środowisko pracy dla programistów <iIDE</i> posiadające więcej kolorów niżeli czarny i biały.

				</p>
				<p class="text-muted">
					<a class="btn btn-success" href="/kursy/4.html">Czytaj więcej</a>
				</p>
			</div>
		</div>

		<div class="col">
            <div>
				<h3 class="text-default">
					Linux i konsola tekstowa
				</h3>
                <h5 class="text-muted">
					2016-12-17 09:00 - 10:50
				</h5>

				<p class="text-muted">
					Czasami czarny ekran oznacza, że mamy do czynienia z magią w IT.<br />
                    Często system Linux i terminal tekstowy jest tak utożsamiany, więc podczas tych zajęć przełamieny ten mit.
                    Bo okazuje się, że praca programisty bez termianala byłaby bardzo niewygodna.
				</p>
				<p class="text-muted">
					<a class="btn btn-success" href="/kursy/2.html">Czytaj więcej</a>
				</p>
			</div>
		</div>
		</div>
	</div>
</div>




<div id="dialog-send-status" title="Ocena wskazanego konspektu">
  <p>Oto ikony jakimi może zostać oznaczony konspekt - zgodnie z Twoim wyborem:
  <ul>
      <li><input type="radio" name="dialog-send-status-select" value="new" /> <img alt="" src="{% static 'mainapp/img/new.png' %}" class="img-circle" width="40" height="40"> - nie przeczytałem</li>
      <li><input type="radio" name="dialog-send-status-select" value="doit" /> <img alt="" src="{% static 'mainapp/img/doit.png' %}" class="img-circle" width="40" height="40"> - w trakcie nauki</li>
      <li><input type="radio" name="dialog-send-status-select" value="help" /> <img alt="" src="{% static 'mainapp/img/help.png' %}" class="img-circle" width="40" height="40"> - potrzebuję czasu, trudno zrozumieć - pomocy !</li>
      <li><input type="radio" name="dialog-send-status-select" value="good" /> <img alt="" src="{% static 'mainapp/img/good.png' %}" class="img-circle" width="40" height="40"> - ten wątek jest prowadzony ze zrozumieniem - nadążam</li>
      <li><input type="radio" name="dialog-send-status-select" value="done" /> <img alt="" src="{% static 'mainapp/img/done.png' %}" class="img-circle" width="40" height="40"> - zrozumiałem, hurraaa :-)</li>
  </ul>


</ul>
</p>
</div>

{% endblock %}

