{% extends 'mainapp/base.html' %}

{% load bootstrap3 %}

{% block title %}Mentorzy{% endblock %}


{% block bootstrap3_content %}

{% include "header.html" %}

<div class="container-fluid">

	<div class="row">
		<div class="col-md-8">
			<div class="page-header">
				<h1>
					Kim są nasi mentorzy
				</h1>
			</div>
            <p>Są to osoby chętne do przekazywania wiedzy, nie obawiające się różnych wyzwań zawodowych a przede wszystkim otwarte na komunikację z innymi.</p>
            <p>Reprezentują dośwadczonych ekspertów, którym możecie zaufać i śmiało czerpać podczas zajęć z nimi wiedzę branżową.</p>

            <hr />

			<h3>
				Przedstawiamy osoby, z którymi spotkacie się podczas kursu
			</h3>

            <div class="row">
                {% for mentor in mentors %}
                    <div class="col-md-4">
                        <div class="thumbnail">
                            <img style="height: 100px;" alt="{{ mentor.name }}" src="{{ mentor.image_link }}" />
                            <div class="caption">
                                <h3>
                                    {{ mentor.name }} {{ mentor.surname }}
                                </h3>
                                <p>
                                    {{ mentor.additional_info }}
                                </p>
                                <p>
                                    <a class="btn btn-primary" href="#">więcej...</a> <a class="btn" href="{{ mentor.blog_link }}" target="_blank">blog</a> <a class="btn" href="#">homepage</a>
                                </p>
                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div>Nie dodano żadnego mentora. Liczymy na Ciebie.</div>
                {% endfor %}
            </div>
		</div>
		<div class="col-md-4">
			<div class="page-header">
				<h2 class="text-muted">
                Program mentorski
				</h2>
			</div>
			<h3 class="text-muted">
				Cele ?
			</h3>
			<p class="text-muted">
				Wsparcie grupy młodzieży szkolnej z LO w nauce programowania. Promowanie dobrych praktyk i wzorców w kodowaniu, testowaniu i tworzeniu systemów informatycznych.
			</p>
      <p class="text-muted">
      Dostępność w określonych terminach dla grupy uczniów. Dyskusje o praktycznej stronie pracy w IT.
      </p>
			<h3 class="text-muted">
				Kto może zostać mentorem ?
			</h3>
			<p class="text-muted">
				Zasadniczo każda osoba, która wyraża chęć przekazywania wiedzy innym w sposób zrozumiały i znająca doskonale swoją dziedzinę.
      </p>
      <p class="text-muted">
      Mentor jak każda rola umowna jest powoływany w celu kształcenia w uczniach patrzenia nie tylko na to co teraz, ale umiejętnej analizy konsekwencji w wyborach. W branży IT to będą przyszłe koszta tworzonych rozwiązań, ich skomplikowanie a co za tym idzie spełnianie standardów jakości, wydajność, rentowność.
      </p>



		</div>
	</div>
</div>


{% endblock %}

