{% extends 'mainapp/base.html' %}

{% load bootstrap3 %}

{% block title %}Zadania{% endblock %}


{% block bootstrap3_content %}
{% if user.is_authenticated %}

<link class="codestyle" rel="prefetch alternate stylesheet" href="/static/mainapp/js/highlight.js/styles/vs.css">
<link class="codestyle" rel="prefetch alternate stylesheet" href="/static/mainapp/js/highlight.js/styles/github.css">

<link rel="stylesheet" href="/static/mainapp/js/highlight.js/styles/default.min.css">
<script src="/static/mainapp/js/highlight.js/highlight.min.js"></script>

<script language="Javascript" type="text/javascript" src="/static/mainapp/js/edit_area/edit_area_full.js"></script>

<script src="/static/mainapp/js/jquery-1.11.1.min.js"></script>
<script language="Javascript" type="text/javascript" src="/static/mainapp/js/jquery.base64.min.js"></script>
<script>
  $.noConflict();
  jQuery( document ).ready(function( $ ) {
  var   logged_user_id = parseInt($("input[name='logged-user-id']").val()),
        hint_id = $('#hints').attr('data'),
        max_hint_no = 5;


    console.log( "ready!" );
    console.log('hint_id:', hint_id);

    function codeEditorDestroy() {
        if (editAreaLoader) {
            delete editAreaLoader;
        }
    }

    function codeEditorInit() {
        editAreaLoader.init({
            id: "source_code_block"	// id of the textarea to transform
            //,start_highlight: true	// if start with highlight
            //,font_size: "10"
            ,allow_resize: "yes"
            //,allow_toggle: true
            ,language: "en"
            ,font_size: 10
            ,gecko_spellcheck: false
            ,word_wrap: true
            ,start_highlight: true
            ,syntax: "python"
            //,load_callback: "my_load"
            //,save_callback: "my_save"
            ,change_callback: "change_code"
            ,display: "onload"
            ,replace_tab_by_spaces: 4
            ,min_height: 250
            //,toolbar: "search, go_to_line, fullscreen, |, undo, redo, |, select_font,|, change_smooth_selection, highlight, reset_highlight, word_wrap, |, help"
            ,toolbar: "search, go_to_line, fullscreen, |, undo, redo, |, select_font,|, change_smooth_selection, highlight, reset_highlight, word_wrap, |, help"
            //,EA_toggle_on_callback: "toggle_on"
            //,EA_toggle_off_callback: "toggle_off"
        });

        function toggle_on() {
            alert('toggle_on');
        }

        function toggle_off() {
            alert('toggle_off');
        }

        function change_code() {
        //    alert(editAreaLoader.getSelectedText("source_code_block"));
        }

        //console.log(editAreaLoader.getValue());
    }
      function initTestsCode() {
    var testsCode = document.querySelector('#source_tests_block pre code');
    hljs.highlightBlock(testsCode);
    var style = "github";
    var links = "python";
    testsCode.result.language = links;
    Array.prototype.forEach.call(links, function(link) {
      link.rel = 'stylesheet';
      //link.disabled = !link.href.match(style + '\\.css$');
    });
    //document.getElementById('language-link').innerHTML = testsCode.result.language;
  }

  addEventListener('load', initTestsCode);


  function postDataIntoServiceEndpoint(task_id, status) {
    var code = "";

    //editAreaLoader.hide();
    //editAreaLoader.toggle("#source_code_block", "off");
    //editAreaLoader.toggle("source_code_block");
    //editAreaLoader.toggle("source_code_block");

    codeEditorDestroy();
    $("#source_code_block").select()
    code = $("#source_code_block").val();

    //editAreaLoader.toggle("#source_code_block", "on");
    //editAreaLoader.toggle("source_code_block");
    //editAreaLoader.show();
    codeEditorInit();

    var hint_id = $('#hints').attr('data')
    console.log('hint_id:', hint_id);

    var myEvent = { user_id: logged_user_id, task_id: task_id, csrfmiddlewaretoken: '{{ csrf_token }}',
                    code: $.base64.encode(code), hint_id: hint_id,
                    tests: $.base64.encode($("#source_tests_block pre code").text())
    };
    console.log("myEvent:", myEvent)
    $.ajax({
        url: 'task/code/run/',
        type: 'POST',
        data: myEvent,
        success: function(result) {
            console.log("postDataIntoServiceEndpoint: AJAX OK - result: ", result);
            $('#program_output').css({
                'color': 'white',
                'background': 'black'
            });
            $('#program_output').text(result);
            displayAssertsBlocks();
        },
        error: function(jqXHR, textStatus, errorThrown) {
            $('#program_output').css({
                'color': 'white',
                'background': 'darkred'
            });

            $('#program_output').text('ERROR IN SERVER RESPONSE -> status: "HTTP '
            + jqXHR.status + '", text: "' + textStatus + '", errorThrown: "' + errorThrown + '"');
            console.log("errorThrown:", errorThrown)
        }
    });
  }

    $('#program_run').click(function(event){
        event.preventDefault()
        //$('#container').focus();
        //$('#container').select();

          var target = $( event.target );
          if (target.is("a")) {
            //TODO: warkaround for two click for result on editArea component
            postDataIntoServiceEndpoint("{{ task.id }}", "");
            postDataIntoServiceEndpoint("{{ task.id }}", "");
            //editAreaLoader.toggle("#source_code_block", "on");
          }
    });

    function displayAssertsBlocks() {
        var stderr = $('#program_output').text(),
            assertion_obj = stderr.match(/assert .*/),
            all_assert_accept = stderr === 'ASSERTS TESTS - OK.',
            color = 'green';

            //console.log("stderr:", stderr);
            //console.log("assertion_obj:", assertion_obj);

        if (all_assert_accept === true) {
            $('#asserts_list blockquote').each(function() {
                $(this).css({'background': color});
            });
        } else {
            if (assertion_obj !== 'undefined') {
                assertion = $.trim(assertion_obj[0]);
                $('#asserts_list blockquote').each(function() {
                    assertion_block = $.trim($(this).text());
                    //console.log("assertion", assertion);
                    //console.log("assertion_block", assertion_block);
                    if (assertion == assertion_block) {
                        //console.log("assertion == assertion_block")
                        $(this).css({'background': color});
                        color = 'darkred';
                    }
                    //console.log("color:", color);
                    $(this).css({'background': color});
                });
            }
        }
    }

    $('a[id^="hint-"]').click(function(event){
        event.preventDefault();
        var hint_id = $(this).attr('data');
        $('#hints').attr('data', hint_id);
        console.log('hint_id:', hint_id);

        var myEvent = { user_id: logged_user_id, task_id: "{{ task.id }}", csrfmiddlewaretoken: '{{ csrf_token }}',
                        hint_id: hint_id
        };
        console.log("myEvent:", myEvent)
        $.ajax({
            url: 'task/code/hint/',
            type: 'POST',
            data: myEvent,
            success: function(result) {
                console.log("CLICK HINT '" + hint_id + "': AJAX OK - result: ", result);
                var last_hint_id = parseInt(hint_id),
                    show_next_hint_id = last_hint_id + 1;

                if (hint_id > 0 && show_next_hint_id > 0 && show_next_hint_id <= max_hint_no + 1) {
                    var task_block = $('#source_task_code'),
                        hint_content = $('#source_task_hint_content');

                    task_block.removeClass('col-md-12');
                    task_block.addClass('col-md-6');
                    $('#source_task_hint').addClass('col-md-6');

                    if (result.indexOf("<p>") != -1) {
                        hint_content.html("<strong>Podpowiedź</strong>" + result);
                    } else {
                        hint_content.text("### Podpowiedź\n### ----\n\n" + result);
                    }

                    $('#hint-' + show_next_hint_id).removeClass('disabled');
                }
            },
            error: function(jqXHR, textStatus, errorThrown) {
                console.log('ERROR IN SERVER RESPONSE -> status: "HTTP '
                + jqXHR.status + '", text: "' + textStatus + '", errorThrown: "' + errorThrown + '"');
            }
        });
    });

    postDataIntoServiceEndpoint("{{ task.id }}", "status");
});
</script>

{% include "header.html" %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <h2 class="text-info">
				<strong>Zadanie #{{ task.id }} - <i>{{ task.name }}</i></strong>
			</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-info">
				Cel zadania:
			</h4>
            <blockquote class="text-warning">
                {{ task.desc }}
            </blockquote>
            <hr />
        </div>
    </div>
    <div class="row">
		<div class="col-md-12">
            <a id="program_run" href="#" class="btn btn-success btn-lg btn-block active" type="button">Uruchom program == testuj rozwiązanie</a>
        </div>
    </div>
    <div class="row">
		<div id="source_task_code" class="col-md-12">
            <textarea id="source_code_block" style="height: 200px; width: 100%;" name="test_4">{{ task.code }}</textarea>
        </div>
		<div id="source_task_hint">
            <pre id="source_task_hint_content"></pre>
        </div>
    </div>
    <hr />
    <div class="row">
		<div class="col-md-6">
            <h4 class="text-info">
				Wynik działania programu po uruchomieniu:
			</h4>
            <pre id="program_output" style="background: black; color: white; ">
            </pre>
        </div>
		<div class="col-md-6">
            <h4 class="text-info" id="unit_tests_results_text">
				Wynik wykonania testów <!-- <small>( <i style="color: green;" id="unit_tests_success">3</i> z <i style="color: darkred;" id="unit_tests_failure">3</i>
                | <i id="unit_tests_percent">50%</i> )</small>-->:
			</h4>

            <div id="asserts_list">
            {% for assert in asserts %}
                <blockquote style="background: darkred; color: white; " data-assert-status="false">
                {{ assert }}
                </blockquote>
            {% empty %}
                <div class="text-warning" style="padding: 20px;">Brak assercji.</div>
            {% endfor %}
            </div>
        </div>
    </div>
    <hr />
    <div class="row">
		<div class="col-md-6">
            <h4 class="text-info">
				Funkcja testowa programu:
			</h4>
            <div id="source_tests_block">
                <pre><code>{{ task.tests }}</code></pre>
            </div>
        </div>
		<div class="col-md-6">
            <h4 class="text-info">
				Blok startowy programu:
			</h4>
            <div id="source_main_block">
                <pre><code>
# main
if __name__ == '__main__':
    __run_tests()
# main
                </code></pre>
            </div>
        </div>
    </div>
    <hr />
    <div class="row" id="hints" data="0">
		<div class="col-md-1">
            &nbsp;
        </div>
		<div class="col-md-2">
            <a href="#" id="hint-1" data="1" class="btn btn-warning btn-lg btn-block" type="button">Poproszę o podpowiedź 1</a>
        </div>
		<div class="col-md-2">
            <a href="#" id="hint-2" data="2" class="btn btn-warning btn-lg btn-block disabled" type="button">Poproszę o podpowiedź 2</a>
        </div>
		<div class="col-md-2">
            <a href="#" id="hint-3" data="3" class="btn btn-warning btn-lg btn-block disabled" type="button">Poproszę o podpowiedź 3</a>
        </div>
		<div class="col-md-2">
            <a href="#" id="hint-4" data="4" class="btn btn-warning btn-lg btn-block disabled" type="button">Poproszę o podpowiedź 4</a>
        </div>
		<div class="col-md-2">
            <a href="#" id="hint-5" data="5" class="btn btn-danger btn-lg btn-block disabled" type="button">Poddaje się !!!</a>
        </div>
		<div class="col-md-1">
            &nbsp;
        </div>
    </div>
</div>

{% endif %}
{% endblock %}
